p {
    color: #555555;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
    color: #333333;
    font: italic 700 2.75rem/3.25rem "Sansita", sans-serif;
}

h2 {
    color: #333333;
    font: italic 700 2.25rem/2.75rem "Sansita", sans-serif;
}

h3 {
    color: #333333;
    font: italic 700 1.875rem/2.25rem "Sansita", sans-serif;
}

h4 {
    color: #333333;
    font: italic 700 1.625rem/2rem "Sansita", sans-serif;
}

h5 {
    color: #333333;
    font: italic 700 1.375rem/1.625rem "Sansita", sans-serif;
}

h6 {
    color: #333333;
    font: italic 700 1.125rem/1.375rem "Sansita", sans-serif;
}

.app {
    width: 1000px;
}