.menuResponsivo{
    position: absolute;
    top: 46px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ec3258;
    z-index: 9999;
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 300px;
        li{
            padding: 20px;
            a{
                font-size: 22px;
            }
        }
    }
}