<div class="bgnew" >

   <app-loading></app-loading>
   <app-progress #progress (stateChange)="onStateChange($event)" >
          
      <app-progress-step >
        
            <form class="form" [formGroup]="formulario" >
               <div class="question">
                  <h1>Oi, vamos começar.<br>
                     Qual seu nome?
                  </h1>
               </div>
               <div class="answer">
                  <div class="form-answer">
                     <input class="form__input " id="nome" placeholder="Digite seu nome" type="text"
                        data-testid="birthday" formControlName="nome">
                     <label for="name" class="form__label">Digite seu nome</label>
                  </div>
                  <div class="btn-answer">
                     <button role="button" data-uia-button-disabled="false" class="btn arrow" type="submit" data-testid="advance"
                        color="ctaPrimary" (click)="goNext(progress)">Pronto</button>
                  </div>
               </div>
            </form>
        
      </app-progress-step>
      <app-progress-step>
         <form class="form" [formGroup]="formulario" >
            <div class="question">
               <h1>Agora,<br>
                  Quando é seu aniversário?
               </h1>
            </div>
            <div class="answer">
               <div class="form-answer">
                  <input class="form__input " id="dataNascimento" placeholder="DD/MM/AAAA" type="text"
                     formControlName="dataNascimento">
                  <label for="name" class="form__label">DD/MM/AAAA</label>
               </div>
               <div class="btn-answer">
                  <button role="button" data-uia-button-disabled="false" class="btn arrow" type="submit" data-testid="advance"
                     color="ctaPrimary" (click)="goNext(progress)">Pronto</button>
               </div>
            </div>
         </form>
      </app-progress-step>
      <app-progress-step >
         <form class="form" [formGroup]="formulario" >
            <div class="question">
               <h1>Quase lá.<br>
                  Qual seu e-mail?
               </h1>
            </div>
            <div class="answer">
               <div class="form-answer">
                  <input class="form__input " id="email" placeholder="Digite seu email" type="text"
                     formControlName="email" >
                  <label for="name" class="form__label">Digite seu email</label>
               </div>
               <div class="btn-answer">
                  <button role="button" data-uia-button-disabled="false" class="btn arrow" type="submit" data-testid="advance"
                     color="ctaPrimary" (click)="goNext(progress)">Pronto</button>
               </div>
            </div>
         </form>
      </app-progress-step>
      <app-progress-step>
         <form class="form" [formGroup]="formulario" >
            <div class="question">
               <h1>Agora,<br>
                 crie uma senha.
               </h1>
            </div>
            <div class="answer">
               <div class="form-answer">
                  <input class="form__input " id="senha" placeholder="crie uma senha." type="text"
                     formControlName="senha" >
                  <label for="name" class="form__label">crie uma senha.</label>
               </div>
               <div class="btn-answer">
                  <button role="button" data-uia-button-disabled="false" class="btn arrow" type="submit" data-testid="advance"
                     color="ctaPrimary" (click)="goSubmit()">Pronto</button>
               </div>
            </div>
         </form>
      </app-progress-step>
      

   </app-progress>

</div>