.bgnew{
    background-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
    width: 100vw;
    height: 100vh;
    
}

$gold: #c4ae59;
$navy: #1d2b48;

.form {
    h1 {
        color: #141651;
        font-family: 'Reckless Neue', 'Times New Roman', Times, serif;
        font-size: 32px;
        font-weight: 400;
        letter-spacing: -1px;
        line-height: 32px;
        padding-bottom: 4px;
        margin-bottom: 16px;
    }

    .form__label {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
        transform: translateY(0rem);
    }

    .form__input {
        margin-top: 24px;
        font-family: 'Roboto', sans-serif;
        line-height: 20px;
        color: #333;
        font-size: 20px;
        margin: 0 auto;
        padding: 8px 16px 8px 16px;
        border-radius: 0.2rem;
        background-color: rgb(255, 255, 255);
        border: none;
        width: 100%;
        display: block;
        border-bottom: 0.3rem solid transparent;
        transition: all 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0.2rem 0.8rem 1.6rem var(#333);
        }
    }

    .form__input:placeholder-shown+.form__label {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
    }

    .btn-answer {
        display: flex;
        justify-content: right;
    }

    .btn {
        color: white;
        cursor: pointer;
        font: bold 1rem 'Barlow Condensed';
        letter-spacing: 0.1rem;
        overflow: hidden;
        padding: 10px 100px;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
    }

    .arrow {
        padding: 10px 20px 10px 20px;
        transition: color 0.2s ease;

        &::before {
            background: linear-gradient(90deg, darken($navy, 5%) 50%, $navy 50%);
            content: '';
            height: 100%;
            right: 0;
            position: absolute;
            top: 0;
            transition: transform 0.2s ease;
            width: 200%;
            z-index: -1;
        }

        &::after {
            padding-top: 44px;
            //background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjMuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA2MCAxMS40IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA2MCAxMS40OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0M0QUU1OTt9Cjwvc3R5bGU+CjxwYXRoIGlkPSJQYXRoXzE2NzciIGNsYXNzPSJzdDAiIGQ9Ik01OC43LDUuMkw0NS41LDBsMi4zLDUuMUgxOGwtNC4yLTQuMkgwbDQuOSw0LjlMMCwxMC41aDEzLjhMMTgsNi4zaDI5LjhsLTIuMyw1LjFsMTMuMi01LjIKCUw2MCw1LjdMNTguNyw1LjJ6IE01NC42LDYuNGwtNi43LDIuNmwxLjItMi42SDU0LjZ6IE0zLjEsOS4zbDMtM2gxMC4ybC0zLDNIMy4xeiIvPgo8L3N2Zz4K") center/contain no-repeat;
            content: '';
            display: block;
            height: 12px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 60px;
            z-index: 1;
        }

        &::after {
            right: 20px;
            transition: transform 0.2s ease;
        }

        &:hover {
            color: lighten($gold, 10%);

            &::before {
                transform: translateX(50%);
            }

            &::after {
                transform: translate(10px, -50%);
            }
        }
    }




}


:root {
    --loading-grey: #ededed;
}



.card {
    width: 320px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
}

.loading .image,
.loading h1,
.loading .description {
    background-color: var(--loading-grey);
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 60%) var(--loading-grey);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}

.loading h1 {
    min-height: 1.6rem;
    border-radius: 4px;
    animation-delay: .05s;
}

.loading .description {
    min-height: 4rem;
    border-radius: 4px;
    animation-delay: .06s;
}